In [68]:
# To install the official MySQL Connector for Python, please use the name mysql-connector-python:
# pip install mysql-connector-python
import mysql.connector
import datetime
import pandas as pd
import numpy as np

In [125]:
df = pd.read_csv('atricle_sampler.csv')
df.head()

,doi,title,author,year_published,field of study,is_oa
0,10.3842/SIGMA.2012.016,Introduction to loop quantum cosmology\r\n,"Banerjee, K., Calcagni, G., & Martín-Benito, M.",2010,Physics,1
1,10.1016/j.physrep.2012.01.001,Modified gravity and cosmology,"Clifton, T., Ferreira, P. G., Padilla, A., & S...",2012,Physics,1
2,10.1146/annurev-astro-081811-125615,Cosmic star-formation history,"Madau, P., & Dickinson, M.",2014,Physics,1
3,10.1016/j.physletb.2008.07.018,Review of Particle Physics\r\n,"C. Amsler, M. Doser, M. Antonelli, D. M. Asner...",2008,Physics,1
4,10.1126/science.1202043,Improved Learning in a Large-Enrollment Physic...,"Deslauriers, L., Schelew, E., & Wieman, C.",2011,Physics,1

In [12]:
cnx = mysql.connector.connect(user='scott', password='tiger',
                              host='127.0.0.1',
                              database='saa',
                              use_pure=False)
cursor = cnx.cursor()

In [16]:
doi50 ='\',\''.join(df.doi)
doi50

"10.3842/SIGMA.2012.016','10.1016/j.physrep.2012.01.001','10.1146/annurev-astro-081811-125615','10.1016/j.physletb.2008.07.018','10.1126/science.1202043','10.1140/epjc/s10052-016-4099-4','10.1016/j.aop.2005.04.002','10.1103/PhysRevLett.94.111601','10.1143/PTPS.183.1','10.1143/PTP.113.843','10.1371/journal.pone.0064841','10.1108/jd-03-2016-0030','10.1007/s10900-018-0547-4','10.1016/j.ijinfomgt.2018.07.004','10.1016/j.lisr.2017.03.001','10.1016/j.lisr.2017.03.005','10.1002/asi.23124','10.1145/2998181.2998204','10.1108/jd-06-2017-0095','10.1080/10447318.2017.1365459','10.1177/1464884905056815','10.1177/1464884903004001484','10.1080/1461670X.2011.571825','10.1080/17512780802281065','10.1080/17512786.2012.667269','10.1207/s15506878jobem4604_3','10.1177/1461444809341393','10.1177/0016549205057564','10.1080/14616700500533643','10.1080/14616700118394','10.3390/ijerph14091002','10.1097/PHH.0000000000000347','10.11604/pamj.supp.2017.27.1.12570','10.1093/pubmed/fdw130.','10.24095/hpcdp.38.7/8.02.','10.1016/j.puhe.2015.10.027','10.1016/j.epidem.2014.08.008','10.1186/s40504-018-0071-4','10.1111/j.1475-6773.2009.01011.x.Ê','10.1186/1471-2458-12-141','10.1145/505282.505283','10.3115/1118693.1118704','10.1145/330908.331819','10.1109/2.982917','10.1109/ICSE.2005.1553534','10.2753/MIS0742-1222240302','10.1177/003172171309500111','10.1145/985692.985733','10.1109/POLICY.2004.1309145','10.1016/j.ejor.2009.08.003"

In [19]:
query = ("SELECT doi, is_oa FROM tmp "
        "WHERE doi IN (\'{}\')").format(doi50)
print (query)

SELECT doi, is_oa FROM tmp WHERE doi IN ('10.3842/SIGMA.2012.016','10.1016/j.physrep.2012.01.001','10.1146/annurev-astro-081811-125615','10.1016/j.physletb.2008.07.018','10.1126/science.1202043','10.1140/epjc/s10052-016-4099-4','10.1016/j.aop.2005.04.002','10.1103/PhysRevLett.94.111601','10.1143/PTPS.183.1','10.1143/PTP.113.843','10.1371/journal.pone.0064841','10.1108/jd-03-2016-0030','10.1007/s10900-018-0547-4','10.1016/j.ijinfomgt.2018.07.004','10.1016/j.lisr.2017.03.001','10.1016/j.lisr.2017.03.005','10.1002/asi.23124','10.1145/2998181.2998204','10.1108/jd-06-2017-0095','10.1080/10447318.2017.1365459','10.1177/1464884905056815','10.1177/1464884903004001484','10.1080/1461670X.2011.571825','10.1080/17512780802281065','10.1080/17512786.2012.667269','10.1207/s15506878jobem4604_3','10.1177/1461444809341393','10.1177/0016549205057564','10.1080/14616700500533643','10.1080/14616700118394','10.3390/ijerph14091002','10.1097/PHH.0000000000000347','10.11604/pamj.supp.2017.27.1.12570','10.1093/pubmed/fdw130.','10.24095/hpcdp.38.7/8.02.','10.1016/j.puhe.2015.10.027','10.1016/j.epidem.2014.08.008','10.1186/s40504-018-0071-4','10.1111/j.1475-6773.2009.01011.x.Ê','10.1186/1471-2458-12-141','10.1145/505282.505283','10.3115/1118693.1118704','10.1145/330908.331819','10.1109/2.982917','10.1109/ICSE.2005.1553534','10.2753/MIS0742-1222240302','10.1177/003172171309500111','10.1145/985692.985733','10.1109/POLICY.2004.1309145','10.1016/j.ejor.2009.08.003')

In [61]:
cursor.execute(query)
query_result = {}
for (doi, is_oa) in cursor:
    if is_oa == 'False':
        query_result[doi] = 0
    else:
        query_result[doi] = 1
len(query_result)

39

In [113]:
df_2 = pd.DataFrame([ (key, value) for key, value in query_result.items()],
                    columns=['doi','upw_oa'])
df_2.upw_oa = df_2.upw_oa.astype(int)
df_2.head()

                            doi  upw_oa
0             10.1002/asi.23124       0
1     10.1007/s10900-018-0547-4       0
2     10.1016/j.aop.2005.04.002       1
3    10.1016/j.ejor.2009.08.003       0
4  10.1016/j.epidem.2014.08.008       1

In [117]:
df.is_oa = df.is_oa.astype(int)
df_result = pd.merge(df[['doi', 'field of study', 'is_oa']], df_2,
                     left_on='doi', right_on='doi')
df_result.head()

                                   doi field of study  is_oa  upw_oa
0        10.1016/j.physrep.2012.01.001        Physics      1       1
1  10.1146/annurev-astro-081811-125615        Physics      1       1
2              10.1126/science.1202043        Physics      1       1
3       10.1140/epjc/s10052-016-4099-4        Physics      1       1
4            10.1016/j.aop.2005.04.002        Physics      1       1

In [119]:
df_result['is_same'] = df_result.apply(lambda x : 0 if x['is_oa'] != x['upw_oa'] else 1, axis=1)
df_result.head()

                                   doi field of study  is_oa  upw_oa  is_same
0        10.1016/j.physrep.2012.01.001        Physics      1       1        1
1  10.1146/annurev-astro-081811-125615        Physics      1       1        1
2              10.1126/science.1202043        Physics      1       1        1
3       10.1140/epjc/s10052-016-4099-4        Physics      1       1        1
4            10.1016/j.aop.2005.04.002        Physics      1       1        1

In [121]:
df_result.groupby('is_same').count()

         doi  field of study  is_oa  upw_oa
is_same
0         14              14     14      14
1         19              19     19      19

In [124]:
14/32

0.4375

In [4]:
print ('Start Time: ' + str(datetime.datetime.now()))
query = ("SELECT doi, is_oa FROM Full "
        "WHERE doi IN ('10.1080/21645515.2017.1330236', '10.1088/0004-6256/135/4/1201')")
cursor.execute(query)
print ('Finish Time: ' + str(datetime.datetime.now()))

Start Time: 2019-03-18 21:23:31.290047
Finish Time: 2019-03-18 21:24:49.544944

In [5]:
result_set = cursor.fetchall()
for row in result_set:
    print(row)

('10.1080/21645515.2017.1330236', 'True')
('10.1088/0004-6256/135/4/1201', 'True')

In [3]:
sils_doi = ['10.1145/3173574.3173935',
            '10.1108/ILS-06-2018-0049',
            '10.1016/j.lisr.2017.03.001',
            '10.1007/s10803-017-3127-z',
            '10.1145/2854946.2854979',
            '10.1016/j.envsoft.2015.12.010',
            '10.1177%2F2053951715608877',
            '10.2218/ijdc.v10i1.352',
            '10.1145/3209624',
            '10.1016/j.lisr.2017.03.005',
            '10.1109/TVCG.2018.2864885',
            '10.1177%2F016555150202800601',
            '10.1109/TMM.2016.2614220',
            '10.1353/at.2006.0012',
            '10.1007/s10900-018-0547-4',
            '10.1108/JD-03-2016-0030',
            '10.1145/2998181.2998204',
            '10.1145/3209280.3209530',
            '10.1080/10447318.2017.1365459',
            '10.1145/3204461',
            '10.1002/asi.23124',
            '10.1002/asi.23839',
            '10.3389/fncom.2012.00019'
            '10.5210/ojphi.v6i2.5469',
            '10.1093/jamia/ocy013',
            '10.1108/JD-06-2017-0095',
            '10.1016/j.ijinfomgt.2018.07.004']

In [4]:
str1 = '\',\''.join(sils_doi)
print (str1)

10.1145/3173574.3173935','10.1108/ILS-06-2018-0049','10.1016/j.lisr.2017.03.001','10.1007/s10803-017-3127-z','10.1145/2854946.2854979','10.1016/j.envsoft.2015.12.010','10.1177%2F2053951715608877','10.2218/ijdc.v10i1.352','10.1145/3209624','10.1016/j.lisr.2017.03.005','10.1109/TVCG.2018.2864885','10.1177%2F016555150202800601','10.1109/TMM.2016.2614220','10.1353/at.2006.0012','10.1007/s10900-018-0547-4','10.1108/JD-03-2016-0030','10.1145/2998181.2998204','10.1145/3209280.3209530','10.1080/10447318.2017.1365459','10.1145/3204461','10.1002/asi.23124','10.1002/asi.23839','10.3389/fncom.2012.0001910.5210/ojphi.v6i2.5469','10.1093/jamia/ocy013','10.1108/JD-06-2017-0095','10.1016/j.ijinfomgt.2018.07.004

In [44]:
query = ("SELECT doi, is_oa FROM Snapshot100 "
        "WHERE doi IN (\'{}\')").format(str1)
print (query)
cursor.execute(query)

SELECT doi, is_oa FROM Snapshot100 WHERE doi IN ('10.1145/3173574.3173935','10.1108/ILS-06-2018-0049','10.1016/j.lisr.2017.03.001','10.1007/s10803-017-3127-z','10.1145/2854946.2854979','10.1016/j.envsoft.2015.12.010','10.1177%2F2053951715608877','10.2218/ijdc.v10i1.352','10.1145/3209624','10.1016/j.lisr.2017.03.005','10.1109/TVCG.2018.2864885','10.1177%2F016555150202800601','10.1109/TMM.2016.2614220','10.1353/at.2006.0012','10.1007/s10900-018-0547-4','10.1108/JD-03-2016-0030','10.1145/2998181.2998204','10.1145/3209280.3209530','10.1080/10447318.2017.1365459','10.1145/3204461','10.1002/asi.23124','10.1002/asi.23839','10.3389/fncom.2012.0001910.5210/ojphi.v6i2.5469','10.1093/jamia/ocy013','10.1108/JD-06-2017-0095','10.1016/j.ijinfomgt.2018.07.004')

In [5]:
print ('Start Time: ' + str(datetime.datetime.now()))
query = ("SELECT doi, is_oa FROM tmp "
        "WHERE doi IN (\'{}\')").format(str1)
cursor.execute(query)
print ('Finish Time: ' + str(datetime.datetime.now()))

Start Time: 2019-03-22 10:43:39.716006
Finish Time: 2019-03-22 10:43:39.728706

In [6]:
result_set = cursor.fetchall()
for row in result_set:
    print(row)

('10.1002/asi.23124', 'False')
('10.1002/asi.23839', 'True')
('10.1007/s10803-017-3127-z', 'False')
('10.1007/s10900-018-0547-4', 'False')
('10.1016/j.envsoft.2015.12.010', 'True')
('10.1016/j.ijinfomgt.2018.07.004', 'False')
('10.1016/j.lisr.2017.03.001', 'False')
('10.1016/j.lisr.2017.03.005', 'False')
('10.1080/10447318.2017.1365459', 'False')
('10.1093/jamia/ocy013', 'True')
('10.1108/jd-03-2016-0030', 'False')
('10.1108/jd-06-2017-0095', 'False')
('10.1109/tmm.2016.2614220', 'True')
('10.1109/tvcg.2018.2864885', 'False')
('10.1145/2854946.2854979', 'True')
('10.1145/2998181.2998204', 'False')
('10.1145/3173574.3173935', 'True')
('10.1145/3204461', 'False')
('10.1353/at.2006.0012', 'False')
('10.2218/ijdc.v10i1.352', 'True')